* {
    margin: 0px;
}

body {
    background-color: #F2F2F2;
}

section {
    width: 78.9%;
    max-width: 500px;
    margin: 85px auto 0px;
    
}

.h1-sec {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 24px;
    line-height: 36px;
    color: #4D4F62;
    text-align: center;
}


.h1-sec-2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #4D4F62;
    margin: 1px 1px 0px 1px;
    text-align: center;
}

.p-sec {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #4D4F62;
    margin-top: 13px;
    text-align: center;
}

.main-div {
    margin: 76px auto 78px;
    width: 311px;
    display: flex;
    flex-wrap: wrap;
}

.div-1 {
    border-top: 3.55px solid #44D3D2;
    border-radius: 8px;
    width: 311px;
    background-color: white;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.h1-div-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 27px 0px 0px 28px;
    color: #4D4F62;
}

.p-div-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    margin: 1px 0px 0px 29px;
    color: #4D4F62;
}


.div-2 {
    border-top: 3.55px solid #EA5454;
    border-radius: 8px;
    width: 311px;
    background-color: white;
    margin-top: 25px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}


.img-house {
    margin: 33px 0px 28px 226px;
}

.div-3 {
    border-top: 3.55px solid #FCAE4A;
    border-radius: 8px;
    width: 311px;
    background-color: white;
    margin-top: 25px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}


.div-4 {
    border-top: 3.55px solid #549EF2;
    border-radius: 8px;
    width: 311px;
    background-color: white;
    margin-top: 25px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}


@media screen and (min-width: 1440px) {

    section {
        width: 78.9%;
        max-width: 540px;
        margin: 85px auto 0px;    
    }
   
    .h1-sec {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 36px;
        line-height: 54px;
        color: #4D4F62;
        text-align: center;
    }

    .h1-sec-2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        color: #4D4F62;
        margin: 2px 1px 0px 1px;
        text-align: center;
    }

    .main-div {
        width: 1110px;
        margin: 64px auto 0px;
        display: flex;
        flex-wrap: nowrap;
    }

    .h1-div-1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin: 32px 0px 0px 32px;
        color: #4D4F62;
    }

    .p-div-1 {
        margin: 6px 0px 0px 32px;
        width: 270px;
    }

    .img-house {
        margin: 40px 0px 32px 254px;
    }

    .div-1 {
        width: 350px;
        height: 250px;
        margin: 136px 30px 0px 0px;
    }

    .div-2 {
        width: 350px;
        height: 250px;
    }

    .div-3 {
        margin-top: 30px; 
        width: 350px;
        height: 250px;
    }

    .div-4 {
        margin: 136px 0px 0px 30px;
        width: 350px;
        height: 250px;
    }

    .main-div {
        margin-bottom: 80px;
    }
}